<!DOCTYPE html>
<html lang="ja" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
		rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
		crossorigin="anonymous">
<link th:href="@{/css/MyHouseholdAccountBookCommon.css}" rel="stylesheet" type="text/css">
<title>月度収支登録</title>
</head>
<body>
	
	<!--/* ヘッダー */-->
	<div id="header" th:insert="~{layout/myhacbookheader::header}">ヘッダー</div>

	<!--/* ボディ部 */-->
	<div class="col">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">2023年06月度収支登録</h5>
				<th:block th:each="message : ${messages}">
					<code><span th:text="${message}">何かのメッセージがある場合はここに表示</span></code></br>
				</th:block>
			</div>
			
			<!-- 収入登録エリア -->
			<div class="card-body">
				<div class="card">
					<div class="card-body">
						<p class="h6">■収入登録エリア■</p>
						<table class="table table-sm table-bordered">
							<tbody>
								<tr class="table-info">
									<td class="w10">給料</td>
									<td class="w10" align="right">418,000円</td>
									<td class="w5" align="center"><a class="btn text-bg-success btn-sm" href="./MonthEndClosingProcess_3.html">訂正</a></td>
									<td>給料詳細あればここに表示</td>
								</tr>
								<tr>
									<td class="w10">積立からの取崩し</td>
									<td class="w10" align="right">113,400円</td>
									<td class="w5" align="center"><a class="btn text-bg-success btn-sm" href="./MonthEndClosingProcess_3.html">訂正</a></td>
									<td>税金支払いのため税金積立から切り崩し</td>
								</tr>
								<tr class="table-success">
									<td class="w10">収入合計</td>
									<td class="w10" align="right">531,400円</td>
									<td colspan="2"></td>
								</tr>
								<tr class="table-info">
									<td class="w10">&emsp;<a class="btn text-bg-success btn-sm" href="./MonthEndClosingProcess_4.html">新規追加</a></td>
									<td colspan="3"></td>
								</tr>
							</tbody>
						</table>
						<ul class="list-group">
							<li class="list-group-item border border-primary">
								<form action="./MonthEndClosingProcess_2.html">
									<span>【新規追加】<span>
									<div class="input-group w30">収入区分：<select class="form-select" id="shopGroup">
											<option value="" selected="selected">収入区分を選択してください</option>
											<option value="00">給料</option>
											<option value="91">副業</option>
											<option value="92">積立からの取崩し</option>
											<option value="94">その他任意</option>
										</select>
									</div>
									<div class="input-group">
										　詳細　：<input type="text" class="form-control" id="otherdetail" placeholder="収入区分でその他任意選択の場合、詳細は必須入力" value="" >
									</div>
									<div class="input-group w15">
										収入金額：<input type="text" class="form-control" id="syuunyuukingaku" value="413,000">円
									</div>
									<div class="input-group w15">
										<button class="btn btn-primary" type="submit" id="new-add">新規追加</button>
									</div>
								</form>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<!-- 支出登録エリア -->
			<div class="card-body">
				<div class="card">
					<div class="card-body">
						<p class="h6">■支出登録エリア■</p>
						<table class="table table-sm table-bordered">
							<tbody>
								<tr class="table-warning">
									<td class="w20">＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠</td>
									<td class="w10" align="right">999,999円</td>
									<td class="w5" align="center"><a class="btn text-bg-success btn-sm" href="./MonthEndClosingProcess_3.html">訂正</a></td>
									<td class="w10">支払日：27日</td>
									<td>支払い詳細あればここに表示</td>
								</tr>
								<tr>
									<td class="w20">国民年金</td>
									<td class="w10" align="right">16,800円</td>
									<td class="w5" align="center"><a class="btn text-bg-success btn-sm" href="./MonthEndClosingProcess_3.html">訂正</a></td>
									<td class="w10">支払日：27日</td>
									<td>支払い詳細あればここに表示</td>
								</tr>
								<tr class="table-warning">
									<td class="w20">健康保険</td>
									<td class="w10" align="right">47,650円</td>
									<td class="w5" align="center"><a class="btn text-bg-success btn-sm" href="./MonthEndClosingProcess_3.html">訂正</a></td>
									<td class="w10">支払日：27日</td>
									<td>支払い詳細あればここに表示</td>
								</tr>
								<tr>
									<td class="w20">宿賃</td>
									<td class="w10" align="right">30,000円</td>
									<td class="w5" align="center"><a class="btn text-bg-success btn-sm" href="./MonthEndClosingProcess_3.html">訂正</a></td>
									<td class="w10">支払日：25日</td>
									<td>支払い詳細あればここに表示</td>
								</tr>
								<tr class="table-success">
									<td class="w20">支出合計</td>
									<td class="w10" align="right">79,450円</td>
									<td colspan="3"></td>
								</tr>
								<tr class="table-info">
									<td class="w20">&emsp;<a class="btn text-bg-success btn-sm" href="./ExpenditureItemSelectInit.html">新規追加</a></td>
									<td colspan="5"></td>
								</tr>
							</tbody>
						</table>
						<ul class="list-group">
							<li class="list-group-item border border-primary">
								<form action="./MonthEndClosingProcess_2.html">
									<span>支出項目名：飲食日用品＞日用消耗品＞キッチン用品</span><br>
									<div class="input-group w30">
										　名称　：<input type="text" class="form-control" id="otherdetail" value="健康保険支払い">
									</div>
									<div class="input-group">
										　詳細　：<input type="text" class="form-control" id="otherdetail" value="★名称★固定支払の場合は名称変更不可とおもったけど、あくまで固定費からはコピーになるので名称変更は自由か。★" >
									</div>
									<div class="input-group w10">
										支払日　：<input type="text" class="form-control" id="syuunyuukingaku" value="31">日
									</div>
									<div class="input-group w15">
										支払金額：<input type="text" class="form-control" id="syuunyuukingaku" value="413,000">円
									</div>
									<div class="input-group w15">
										<button class="btn btn-primary" type="submit">新規追加</button>
									</div>
								</form>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<!-- 登録ボタンエリア -->
			<div class="card-body">
				<div class="card">
					<div class="card-body">
							<div class="mb-3">
								<button class="btn btn-primary" type="button" id="check">内容確認</button>
								<span>&emsp;</span>
								<span>&emsp;</span>
								<span>&emsp;</span>
								<button class="btn btn-primary" type="button" id="cancel">キャンセル</button>
							</div>
							<form name="CheckProcess" action="./MonthEndClosingCheck.html">
							</form>
							<form name="Cancel" action="./AccountBookMonth.html">
							</form>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<!--/* フッター共通jsのインクルード) */-->
	<div id="footer" th:insert="~{layout/myhacbookfooter::footer}">フッター</div>
	<!--/* 収支登録で使用するJavaScript */-->
	<script type="text/javascript" th:src="@{/js/account/regist/IncomeAndExpenditureRegist.js}"></script>
	
</body>
</html>