<!DOCTYPE html>
<html lang="ja" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
		rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
		crossorigin="anonymous">
<link th:href="@{/css/MyHouseholdAccountBookCommon.css}" rel="stylesheet" type="text/css">
<title>情報管理(固定費)</title>
</head>
<body>
	<!--/* ヘッダー */-->
	<div id="header" th:insert="~{layout/myhacbookheader::header}">ヘッダー</div>

	<!--/* ボディ部 */-->
	<div class="col">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">情報管理(固定費)</h5>
				<th:block th:each="message : ${messages}">
					<code><span th:text="${message}">何かのメッセージがある場合はここに表示</span></code></br>
				</th:block>
			</div>
			
			<!-- 選択支出情報表示エリア -->
			<th:block th:if="${registeredFlg}">
			<div class="card-body">
				<div class="card">
					<div class="card-body">
						<p class="h6">■確認■</p>
						<p class="card-text">選択した支出項目「<span th:text="${registeredFixedCostInfoList.get(0).sisyutuItemName}">支出項目名</span>」には<span th:text="${#lists.size(registeredFixedCostInfoList)}">件数</span>件の固定費情報が登録されています。新規で追加しますか？</p>
						<table class="table table-sm table-bordered">
							<tbody>
								<th:block th:each="item : ${registeredFixedCostInfoList}">
								<tr>
									<td th:text="${item.shiharaiName}" class="w20">支払名</td>
									<td class="w20"><span th:text="${item.shiharaiTuki}">支払月</span>(<span th:text="${item.shiharaiDay}">支払日</span>)</td>
									<td th:text="${item.shiharaiKingaku}" class="w10" align="right">支払金額</td>
									<td></td>
								</tr>
								</th:block>
							</tbody>
						</table>
						<form name="FixedCostAddSelectInfo" class="d-flex" method="post" th:action="@{/myhacbook/managebaseinfo/fixedcostinfo/updateload/}" th:object="${sisyutuItemCodeInfo}">
							<div class="mb-3">
								<button class="btn btn-primary" name="actionAdd" type="submit">新規で追加</button>
								<button class="btn btn-primary" name="actionCancel" type="submit">キャンセル</button>
								<input type="hidden" th:field="*{sisyutuItemCode}" />
							</div>
						</form>
					</div>
				</div>
			</div>
			</th:block>
			
			<!-- 固定費一覧表示エリア -->
			<div class="card-body">
				<div class="card">
					<div class="card-body">
						<p class="h6">■登録済み固定費一覧■</p>
						<!--/* 登録済み固定費一覧が設定されている場合のみ選択してくださいのメッセージを表示 */-->
						<th:block th:if="${#lists.size(fixedCostItemList)} > 0">
						<p class="card-text">更新対象の固定支出項目を選択してください。</p>
						<table class="table table-sm table-bordered table-hover">
							<thead>
								<tr class="table-secondary">
								<th scope="col" class="w20">支出項目名</th>
								<th scope="col" class="w25">支払名</th>
								<th scope="col" class="w10">支払月</th>
								<th scope="col" class="w10">支払日</th>
								<th scope="col" class="w10">支払金額</th>
								<th scope="col">その他任意詳細</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="item, itemStat : ${fixedCostItemList}">
								<th:block th:if="${itemStat.odd}"><tr th:data-href="@{/myhacbook/managebaseinfo/fixedcostinfo/select(fixedCostCode=${item.fixedCostCode})}"></th:block>
								<th:block th:if="${itemStat.even}"><tr class="table-warning" th:data-href="@{/myhacbook/managebaseinfo/fixedcostinfo/select(fixedCostCode=${item.fixedCostCode})}"></th:block>
									<td th:text="${item.sisyutuItemName}">支出項目名</td>
									<td th:text="${item.shiharaiName}">支払名</td>
									<td th:text="${item.shiharaiTuki}">支払月</td>
									<td th:text="${item.shiharaiDay}">支払日</td>
									<td th:text="${item.shiharaiKingaku}" align="right">支払金額</td>
									<td th:text="${item.optionalContext}">その他任意詳細</td>
								</tr>
								</th:block>
								<tr class="table-success">
									<td colspan="4">奇数月合計(毎月、奇数月、その他任意の合計値)</td>
									<td th:text="${oddMonthGoukei}" align="right">奇数月合計</td>
									<td></td>
								</tr>
								<tr class="table-success">
									<td colspan="4">偶数月合計(毎月、偶数月、その他任意の合計値)</td>
									<td th:text="${anEvenMonthGoukei}" align="right">偶数月合計</td>
									<td></td>
								</tr>
							</tbody>
						</table>
						</th:block>
					</div>
				</div>
			</div>
			
			<!-- 支出項目一覧表示エリア -->
			<div class="card-body">
				<div class="card">
					<div class="card-body">
						<p class="h6">★固定費支出項目一覧★</p>
						<p class="card-text">固定支出項目を新規追加する場合、対象の支出項目を選択してください。</p>
						
						<ul class="list-unstyled">
							
							<!--/* 支出項目レベル１のデータを繰り返すリストブロックー */-->
							<li class="mt-1 border border-dark" th:each="item : ${expenditureItemList}">
								<div class="bg-info">
								<button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse"
									aria-expanded="false" th:data-bs-target="'#area_'+${item.sisyutuItemCode}" th:aria-controls="'area_'+${item.sisyutuItemCode}">▼<span th:text="${item.sisyutuItemName}"></span></button>
									：<a class="btn text-bg-success btn-sm" th:href="@{/myhacbook/managebaseinfo/fixedcostinfo/addload(sisyutuItemCode=${item.sisyutuItemCode})}">固定費を追加</a>
									：<span th:text="${item.sisyutuItemDetailContext}"></span>
								</div>
								<ul class="list-unstyled ps-3 collapse" th:id="'area_'+${item.sisyutuItemCode}">
									
									<!--/* 支出項目レベル２のデータを繰り返すリストブロックー */-->
									<li class="mt-1 border border-primary" th:each="childItem : ${item.childItemList}">
									<th:block th:if="${#lists.size(childItem.childItemList)}==0">
										<div class="bg-warning">
										<button class="btn d-inline-flex align-items-center collapsed border-0">■<span th:text="${childItem.sisyutuItemName}"></span></button>
										：<a class="btn text-bg-success btn-sm" th:href="@{/myhacbook/managebaseinfo/fixedcostinfo/addload(sisyutuItemCode=${childItem.sisyutuItemCode})}">固定費を追加</a>
										：<span th:text="${childItem.sisyutuItemDetailContext}"></span>
										</div>
									</th:block>
									<th:block th:if="${#lists.size(childItem.childItemList)}>0">
										<div class="bg-warning">
										<button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse"
											aria-expanded="false" th:data-bs-target="'#area_'+${childItem.sisyutuItemCode}" th:aria-controls="'area_'+${childItem.sisyutuItemCode}">▼<span th:text="${childItem.sisyutuItemName}"></span></button>
											：<a class="btn text-bg-success btn-sm" th:href="@{/myhacbook/managebaseinfo/fixedcostinfo/addload(sisyutuItemCode=${childItem.sisyutuItemCode})}">固定費を追加</a>
											：<span th:text="${childItem.sisyutuItemDetailContext}"></span>
										</div>
										<ul class="list-unstyled ps-3 collapse" th:id="'area_'+${childItem.sisyutuItemCode}">

											<!--/* 支出項目レベル３のデータを繰り返すリストブロックー */-->
											<li th:each="nest3ChildItem : ${childItem.childItemList}">
											<th:block th:if="${#lists.size(nest3ChildItem.childItemList)}==0">
												<button class="btn d-inline-flex align-items-center collapsed border-0">■<span th:text="${nest3ChildItem.sisyutuItemName}"></span></button>
												：<a class="btn text-bg-success btn-sm" th:href="@{/myhacbook/managebaseinfo/fixedcostinfo/addload(sisyutuItemCode=${nest3ChildItem.sisyutuItemCode})}">固定費を追加</a>
												：<span th:text="${nest3ChildItem.sisyutuItemDetailContext}"></span>
											</th:block>
											<th:block th:if="${#lists.size(nest3ChildItem.childItemList)}>0">
												<button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse"
													aria-expanded="false" th:data-bs-target="'#area_'+${nest3ChildItem.sisyutuItemCode}" th:aria-controls="'area_'+${nest3ChildItem.sisyutuItemCode}">▼<span th:text="${nest3ChildItem.sisyutuItemName}"></span></button>
													：<a class="btn text-bg-success btn-sm" th:href="@{/myhacbook/managebaseinfo/fixedcostinfo/addload(sisyutuItemCode=${nest3ChildItem.sisyutuItemCode})}">固定費を追加</a>
													：<span th:text="${nest3ChildItem.sisyutuItemDetailContext}"></span>
												<ul class="list-unstyled ps-3 collapse" th:id="'area_'+${nest3ChildItem.sisyutuItemCode}">
												
													<!--/* 支出項目レベル４のデータを繰り返すリストブロックー */-->
													<li th:each="nest4ChildItem : ${nest3ChildItem.childItemList}">
													<th:block th:if="${#lists.size(nest4ChildItem.childItemList)}==0">
														<button class="btn d-inline-flex align-items-center collapsed border-0">■<span th:text="${nest4ChildItem.sisyutuItemName}"></span></button>
														：<a class="btn text-bg-success btn-sm" th:href="@{/myhacbook/managebaseinfo/fixedcostinfo/addload(sisyutuItemCode=${nest4ChildItem.sisyutuItemCode})}">固定費を追加</a>
														：<span th:text="${nest4ChildItem.sisyutuItemDetailContext}"></span>
													</th:block>
													<th:block th:if="${#lists.size(nest4ChildItem.childItemList)}>0">
														<button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse"
															aria-expanded="false" th:data-bs-target="'#area_'+${nest4ChildItem.sisyutuItemCode}" th:aria-controls="'area_'+${nest4ChildItem.sisyutuItemCode}">▼<span th:text="${nest4ChildItem.sisyutuItemName}"></span></button>
															：<a class="btn text-bg-success btn-sm" th:href="@{/myhacbook/managebaseinfo/fixedcostinfo/addload(sisyutuItemCode=${nest4ChildItem.sisyutuItemCode})}">固定費を追加</a>
															：<span th:text="${nest4ChildItem.sisyutuItemDetailContext}"></span>
														<ul class="list-unstyled ps-3 collapse" th:id="'area_'+${nest4ChildItem.sisyutuItemCode}">
														
															<!--/* 支出項目レベル５のデータを繰り返すリストブロックー */-->
															<li th:each="nest5ChildItem : ${nest4ChildItem.childItemList}">
															<th:block th:if="${#lists.size(nest5ChildItem.childItemList)}==0">
																<button class="btn d-inline-flex align-items-center collapsed border-0">■<span th:text="${nest5ChildItem.sisyutuItemName}"></span></button>
																：<a class="btn text-bg-success btn-sm" th:href="@{/myhacbook/managebaseinfo/fixedcostinfo/addload(sisyutuItemCode=${nest5ChildItem.sisyutuItemCode})}">固定費を追加</a>
																：<span th:text="${nest5ChildItem.sisyutuItemDetailContext}"></span>
															</th:block>
															<th:block th:if="${#lists.size(nest5ChildItem.childItemList)}>0">
																<button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse"
																	aria-expanded="false" th:data-bs-target="'#area_'+${nest5ChildItem.sisyutuItemCode}" th:aria-controls="'area_'+${nest5ChildItem.sisyutuItemCode}">▼<span th:text="${nest5ChildItem.sisyutuItemName}"></span></button>
																	：<p class="btn btn-outline-info btn-sm">ここが表示される場合はエラーです</p>
																	：<span th:text="${nest5ChildItem.sisyutuItemDetailContext}"></span>
																<ul class="list-unstyled ps-3 collapse" th:id="'area_'+${nest5ChildItem.sisyutuItemCode}">
																
																	<!--/* 支出項目レベル６のデータを繰り返すリストブロックー＝仕様範囲外なので、エラーとなる */-->
																	<li>仕様範囲外データ表示中１：エラーです。管理者に問い合わせてください</li>
																	<li>仕様範囲外データ表示中２：エラーです。管理者に問い合わせてください</li>
																	<li>仕様範囲外データ表示中３：エラーです。管理者に問い合わせてください</li>
																</ul>
															</th:block>
															</li>
														</ul>
													</th:block>
													</li>
												</ul>
											</th:block>
											</li>
										</ul>
									</th:block>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--/* フッター共通jsのインクルード) */-->
	<div id="footer" th:insert="~{layout/myhacbookfooter::footer}">フッター</div>
	<!--/* jqueryでテーブル行の選択時アクションを実行 */-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/js/table_tr_click_script.js}"></script>
	
</body>
</html>