<!DOCTYPE html>
<html lang="ja" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
		rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
		crossorigin="anonymous">
<title>情報管理(商品)</title>
</head>
<body>
	<!--/* ヘッダー */-->
	<div id="header" th:insert="~{layout/myhacbookheader::header}">ヘッダー</div>

	<!--/* ボディ部 */-->
	<div class="col">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">情報管理(飲食日用品)</h5>
				<th:block th:each="message : ${messages}">
					<code><span th:text="${message}">何かのメッセージがある場合はここに表示</span></code></br>
				</th:block>
			</div>
			
			<!-- 商品名検索エリア -->
			<form name="ShoppingItemInfoSearch" class="d-flex" method="post" th:action="@{/myhacbook/managebaseinfo/shoppingiteminfo/search/}" th:object="${shoppingItemInfoSearchForm}">
			<div class="card-body">
				<p class="h6">■飲食日用品　商品検索■</p>
				<div class="mb-3 w30">
					<label class="form-label">検索対象</label>
					<div class="col-auto border">
						<input type="radio" name="searchTargetKubun" class="form-check-input" th:errorclass="is-invalid" th:field="*{searchTargetKubun}" value="itemKubun">
						<label class="form-check-label" for="itemKubun">：商品区分名&emsp;</label>
						<input type="radio" name="searchTargetKubun" class="form-check-input" th:errorclass="is-invalid" th:field="*{searchTargetKubun}" value="itemName">
						<label class="form-check-label" for="itemName">：商品名&emsp;</label>
						<input type="radio" name="searchTargetKubun" class="form-check-input" th:errorclass="is-invalid" th:field="*{searchTargetKubun}" value="companyName">
						<label class="form-check-label" for="companyName">：会社名</label>
						<p class="invalid-feedback" th:errors="*{searchTargetKubun}"></p>
					</div>
				</div>
					<div class="mb-3">
					<label for="search_name" class="form-label">検索条件入力</label>
 					<input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{searchValue}" required>
 					<p class="invalid-feedback" th:errors="*{searchValue}"></p>
				</div>
				<div class="mb-3">
					<button class="btn btn-primary" name="searchInit" type="submit">検索</button>
				</div>
			</div>
			</form>
			
			<!-- 支出項目一覧表示エリア -->
			<div class="card-body">
				<p class="h6">★飲食日用品支出項目一覧★</p>
				<ul class="list-unstyled">
					<li class="mt-1 border border-dark">
						<div class="bg-info">▼<span>飲食日用品</span></div>
						<ul class="list-unstyled ps-3">
							
							<!--/* 支出項目レベル２のデータを繰り返すリストブロックー */-->
							<li class="mt-1 border border-primary" th:each="item : ${expenditureItemList}">
								<div class="bg-warning">
								<button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse"
									aria-expanded="false" th:data-bs-target="'#area_'+${item.sisyutuItemCode}" th:aria-controls="'area_'+${item.sisyutuItemCode}">▼<span th:text="${item.sisyutuItemName}"></span></button>
									：<span th:text="${item.sisyutuItemDetailContext}"></span>
								</div>
								<ul class="list-unstyled ps-3 collapse" th:id="'area_'+${item.sisyutuItemCode}">

									<!--/* 支出項目レベル３のデータを繰り返すリストブロックー */-->
									<li class="mt-1 border border-primary" th:each="nest3ChildItem : ${item.childItemList}">
									<th:block th:if="${#lists.size(nest3ChildItem.childItemList)}==0">
										<button class="btn d-inline-flex align-items-center collapsed border-0">■<span th:text="${nest3ChildItem.sisyutuItemName}"></span></button>
										：<a class="btn text-bg-success btn-sm" th:href="@{/myhacbook/managebaseinfo/shoppingiteminfo/addload(sisyutuItemCode=${nest3ChildItem.sisyutuItemCode})}">商品を追加</a>
										：<a class="btn btn-outline-info btn-sm" th:href="@{/myhacbook/managebaseinfo/shoppingiteminfo/searchbysisyutuitem(sisyutuItemCode=${nest3ChildItem.sisyutuItemCode})}">商品を検索</a>
										：<span th:text="${nest3ChildItem.sisyutuItemDetailContext}"></span>
									</th:block>
									<th:block th:if="${#lists.size(nest3ChildItem.childItemList)}>0">
										<div class="bg-warning">
										<button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse"
											aria-expanded="false" th:data-bs-target="'#area_'+${nest3ChildItem.sisyutuItemCode}" th:aria-controls="'area_'+${nest3ChildItem.sisyutuItemCode}">▼<span th:text="${nest3ChildItem.sisyutuItemName}"></span></button>
											：<span th:text="${nest3ChildItem.sisyutuItemDetailContext}"></span>
										</div>
										<ul class="list-unstyled ps-3 collapse" th:id="'area_'+${nest3ChildItem.sisyutuItemCode}">
										
											<!--/* 支出項目レベル４のデータを繰り返すリストブロックー */-->
											<li class="mt-1 border border-primary" th:each="nest4ChildItem : ${nest3ChildItem.childItemList}">
											<th:block th:if="${#lists.size(nest4ChildItem.childItemList)}==0">
												<button class="btn d-inline-flex align-items-center collapsed border-0">■<span th:text="${nest4ChildItem.sisyutuItemName}"></span></button>
												：<a class="btn text-bg-success btn-sm" th:href="@{/myhacbook/managebaseinfo/shoppingiteminfo/addload(sisyutuItemCode=${nest4ChildItem.sisyutuItemCode})}">商品を追加</a>
												：<a class="btn btn-outline-info btn-sm" th:href="@{/myhacbook/managebaseinfo/shoppingiteminfo/searchbysisyutuitem(sisyutuItemCode=${nest4ChildItem.sisyutuItemCode})}">商品を検索</a>
												：<span th:text="${nest4ChildItem.sisyutuItemDetailContext}"></span>
											</th:block>
											<th:block th:if="${#lists.size(nest4ChildItem.childItemList)}>0">
												<div class="bg-warning">
												<button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse"
													aria-expanded="false" th:data-bs-target="'#area_'+${nest4ChildItem.sisyutuItemCode}" th:aria-controls="'area_'+${nest4ChildItem.sisyutuItemCode}">▼<span th:text="${nest4ChildItem.sisyutuItemName}"></span></button>
													：<span th:text="${nest4ChildItem.sisyutuItemDetailContext}"></span>
												</div>
												<ul class="list-unstyled ps-3 collapse" th:id="'area_'+${nest4ChildItem.sisyutuItemCode}">
												
													<!--/* 支出項目レベル５のデータを繰り返すリストブロックー */-->
													<li th:each="nest5ChildItem : ${nest4ChildItem.childItemList}">
													<th:block th:if="${#lists.size(nest5ChildItem.childItemList)}==0">
														<button class="btn d-inline-flex align-items-center collapsed border-0">■<span th:text="${nest5ChildItem.sisyutuItemName}"></span></button>
														：<a class="btn text-bg-success btn-sm" th:href="@{/myhacbook/managebaseinfo/shoppingiteminfo/addload(sisyutuItemCode=${nest5ChildItem.sisyutuItemCode})}">商品を追加</a>
														：<a class="btn btn-outline-info btn-sm" th:href="@{/myhacbook/managebaseinfo/shoppingiteminfo/searchbysisyutuitem(sisyutuItemCode=${nest5ChildItem.sisyutuItemCode})}">商品を検索</a>
														：<span th:text="${nest5ChildItem.sisyutuItemDetailContext}"></span>
													</th:block>
													<th:block th:if="${#lists.size(nest5ChildItem.childItemList)}>0">
														<button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse"
															aria-expanded="false" th:data-bs-target="'#area_'+${nest5ChildItem.sisyutuItemCode}" th:aria-controls="'area_'+${nest5ChildItem.sisyutuItemCode}">▼<span th:text="${nest5ChildItem.sisyutuItemName}"></span></button>
															：<p class="btn btn-outline-info btn-sm">ここが表示される場合はエラーです</p>
															：<span th:text="${nest5ChildItem.sisyutuItemDetailContext}"></span>
														<ul class="list-unstyled ps-3 collapse" th:id="'area_'+${nest5ChildItem.sisyutuItemCode}">
														
															<!--/* 支出項目レベル６のデータを繰り返すリストブロックー＝仕様範囲外なので、エラーとなる */-->
															<li>仕様範囲外データ表示中１：エラーです。管理者に問い合わせてください</li>
															<li>仕様範囲外データ表示中２：エラーです。管理者に問い合わせてください</li>
															<li>仕様範囲外データ表示中３：エラーです。管理者に問い合わせてください</li>
														</ul>
													</th:block>
													</li>
												</ul>
											</th:block>
											</li>
										</ul>
									</th:block>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<!--/* フッター共通jsのインクルード) */-->
	<div id="footer" th:insert="~{layout/myhacbookfooter::footer}">フッター</div>
	
</body>
</html>