<!DOCTYPE html>
<html lang="ja" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
		rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
		crossorigin="anonymous">
<link th:href="@{/css/MyHouseholdAccountBookCommon.css}" rel="stylesheet" type="text/css">
<title>情報管理(お店)</title>
</head>
<body>
	<!--/* ヘッダー */-->
	<div id="header" th:insert="~{layout/myhacbookheader::header}">ヘッダー</div>

	<!--/* ボディ部 */-->
	<div class="col">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">情報管理(お店)</h5>
				<th:block th:each="message : ${messages}">
					<code><span th:text="${message}">何かのメッセージがある場合はここに表示</span></code></br>
				</th:block>
			</div>
			
			<!-- 店舗情報入力フォーム -->
			<form name="ShopInfoUpdate" class="d-flex" method="post" th:action="@{/myhacbook/managebaseinfo/shopinfo/update/}" th:object="${shopInfoForm}">
			<div class="card-body">
				<div class="mb-3">
					<label for="shopKubun" class="form-label">店舗区分</label>
					<select class="form-select w20" th:errorclass="is-invalid" th:field="*{shopKubun}" required>
						<option th:each="item : ${shopKubun.optionList}" th:value="${item.value}" th:text="${item.text}"></option>
					</select>
					<p class="invalid-feedback" th:errors="*{shopKubun}"></p>
				</div>
				<div class="mb-3">
					<label for="shopName" class="form-label">店舗名</label>
 					<input type="text" class="form-control w50" th:errorclass="is-invalid" th:field="*{shopName}" required>
 					<p class="invalid-feedback" th:errors="*{shopName}"></p>
				</div>
				<div class="mb-3">
					<label for="validationServer01" class="form-label">表示順</label>
 					<input type="text" class="form-control w10" th:errorclass="is-invalid" th:field="*{shopSort}">
 					<p class="invalid-feedback" th:errors="*{shopSort}"></p>
				</div>
				<div class="mb-3">
					<button class="btn btn-primary" type="submit">登録</button>
					<input type="hidden" th:field="*{action}" />
					<input type="hidden" th:field="*{shopCode}" />
					<input type="hidden" th:field="*{shopSortBefore}" />
				</div>
			</div>
			</form>
			
			<!-- お店一覧表示エリア -->
			<div class="list-group">
				<a class="list-group-item list-group-item-secondary">表示順&emsp;店名&emsp;：店舗区分&emsp;&emsp;※更新する場合は対象行をクリックしてください</a>
				
				<th:block th:each="shopItem : ${shopList}">
					<a th:href="@{/myhacbook/managebaseinfo/shopinfo/updateload(shopCode=${shopItem.shopCode})}" class="list-group-item list-group-item-action"><span th:text="${shopItem.shopSort}"></span>&emsp;<span th:text="${shopItem.shopName}"></span>&emsp;：<span th:text="${shopItem.shopKubunName}"></span></a>
				</th:block>
				<th:block th:each="nonEditShopItem : ${nonEditShopList}">
					<a class="list-group-item list-group-item-secondary"><span th:text="${nonEditShopItem.shopSort}"></span>&emsp;<span th:text="${nonEditShopItem.shopName}"></span>&emsp;※変更できません</a>
				</th:block>
			</div>
		</div>
	</div>
	
	<!--/* フッター共通jsのインクルード) */-->
	<div id="footer" th:insert="~{layout/myhacbookfooter::footer}">フッター</div>
	
</body>
</html>