<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
		rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
		crossorigin="anonymous">
<title>マイ家計簿ヘッダー部</title>
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<p class="navbar-brand mb-0 h5"><span th:text="${loginUserName}">ユーザ名</span>さん家計簿</p>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeaderContent" aria-controls="navbarHeaderContent" aria-expanded="false" aria-label="ヘッダーメニュー">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarHeaderContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<!--/* ユーザロールの場合 */-->
						<li class="nav-item" sec:authorize="hasRole('USER')">
							<a class="nav-link active" aria-current="page" th:href="@{/myhacbook/topmenu/}">トップページへ</a>
						</li>
						<!--/* 管理者ロールの場合 */-->
						<li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">管理者メニュー</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" th:href="@{/myhacbook/admin/userinfo/}">ユーザ情報管理</a></li>
								<li><a class="dropdown-item" th:href="@{/myhacbook/admin/managebaseinfo/}">【保守用】ベース情報管理</a></li>
								<li><a class="dropdown-item" href="#">メニュー3</a></li>
								<li><a class="dropdown-item" href="#">DBデータ＊＊など。。。</a></li>
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" th:href="@{/myhacbook/topmenu/}">管理者メニューはいらなくなるか？？</a></li>
							</ul>
						</li>
					</ul>
					<form class="d-flex" method="post" th:action="@{/logout/}">
						<button class="btn btn-outline-success" type="submit">ログアウト</button>
					</form>
				</div>
			</div>
		</nav>
	</header>
</body>
</html>
