<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<title>マイ家計簿ヘッダー部</title>
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-sm navbar-light bg-light" th:fragment="header">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<!--/* 管理者ロールの場合 */-->
						<li class="nav-item" sec:authorize="hasRole('ADMIN')">
							<a class="nav-link active" aria-current="page" th:href="@{/myhacbook/admin/}">管理者ページ</a>
						</li>
						<!--/* ユーザロールの場合 */-->
						<li class="nav-item" sec:authorize="hasRole('USER')">
							<a class="nav-link active" aria-current="page" th:href="@{/myhacbook/topmenu/}">トップページ</a>
						</li>
					</ul>
					<form class="d-flex" method="post" th:action="@{/logout/}">
						<button class="btn btn-outline-success" type="submit">ログアウト</button>
					</form>
				</div>
			</div>
		</nav>
	</header>
</body>
</html>
