<!DOCTYPE html>
<html lang="ja" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
		rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
		crossorigin="anonymous">
<title>収支登録確認</title>
</head>
<body>
	<!--/* ヘッダー */-->
	<div id="header" th:insert="~{layout/myhacbookheader::header}">ヘッダー</div>

	<!--/* ボディ部 */-->
	<div class="col">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">収支登録確認</h5>
				<th:block th:each="message : ${messages}">
					<code><span th:text="${message}">何かのメッセージがある場合はここに表示</span></code></br>
				</th:block>
			</div>
			<!-- 指定の収支新規登録確認表示エリア -->
			<div class="card-body">
				<div class="card">
					<div class="card-body" th:object="${targetYearMonthInfo}">
						<p class="h6">■確認■</p>
						<p class="card-text"><span th:text="*{viewYear}"></span>年<span th:text="*{viewMonth}"></span>月度の収支が登録されていません。新規で登録しますか？</p>
						
							<div class="mb-3">
								<button class="btn btn-primary" type="button" id="incomeAndExpenseRegistBtn">新規登録</button>
								<button class="btn btn-primary" type="button" id="cancelBtn">キャンセル</button>
							</div>
							<form name="IncomeAndExpenseRegistForm" class="d-flex" method="post" th:action="@{/myhacbook/accountregist/incomeandexpenditure/initload/}">
								<input type="hidden" th:field="*{targetYearMonth}" />
								<input type="hidden" th:field="*{returnYearMonth}" />
							</form>
							<form name="CancelForm" class="d-flex" method="post" th:action="@{/myhacbook/accountinquiry/accountmonth/}">
								<input type="hidden" name="targetYearMonth" th:value="*{returnYearMonth}" />
							</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/* フッター共通jsのインクルード) */-->
	<div id="footer" th:insert="~{layout/myhacbookfooter::footer}">フッター</div>
	<!--/* 家計簿参照で使用するJavaScript */-->
	<script type="text/javascript" th:src="@{/js/account/inquiry/AccountMonthRegistCheck.js}"></script>
</body>
</html>