<!DOCTYPE html>
<html lang="ja" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
		rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
		crossorigin="anonymous">
<title>年間収支(明細)</title>
</head>
<body>
	<!--/* ヘッダー */-->
	<div id="header" th:insert="~{layout/myhacbookheader::header}">ヘッダー</div>

	<!--/* ボディ部 */-->
	<div class="col">
		<div class="card" th:object="${targetYearInfo}">
			<div class="card-body">
				<h5 class="card-title">マイ家計簿(年間収支(明細))</h5>
				<th:block th:each="message : ${messages}">
					<code><span th:text="${message}">何かのメッセージがある場合はここに表示</span></code></br>
				</th:block>
			</div>
			<div class="card-body">
				<nav>
					<div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
						<form class="d-flex" method="post" th:action="@{/myhacbook/accountinquiry/accountmonth/}">
							<button class="nav-link" type="submit">各月の収支</button>
							<input type="hidden" th:field="*{targetYearMonth}" />
						</form>
						<button class="nav-link active" id="nav-nenkan-syuusi-tab" data-bs-toggle="tab" data-bs-target="#nav-nenkan-syuusi" type="button" role="tab" aria-controls="nav-nenkan-syuusi" aria-selected="true" disabled>年間収支</button>
						<form class="d-flex" method="post" th:action="@{/myhacbook/accountinquiry/paymentconfirmation/}">
							<button class="nav-link" type="submit">支払い確認</button>
							<input type="hidden" th:field="*{targetYearMonth}" />
						</form>
					
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<!-- 各月収支タブエリア -->
					<div class="tab-pane fade" id="nav-kakutuki-syuusi" role="tabpanel" aria-labelledby="nav-kakutuki-syuusi-tab">
						<p class="px-3">これは、<strong>各月の収支</strong>に関連付けられたコンテンツのプレースホルダーコンテンツ。[このタブは常に表示されない]</p>
					</div>
					
					<!-- 年間収支タブエリア -->
					<div class="tab-pane fade show active" id="nav-nenkan-syuusi" role="tabpanel" aria-labelledby="nav--nenkan-syuusi-tab">
						
						<div class="mb-3">
							<form name="AccountYearMage" class="d-flex" method="post" th:action="@{/myhacbook/accountinquiry/accountyear/mage/}">
								<button class="btn btn-outline-primary" type="submit">年間収支(マージ)</button>
								<button class="btn btn-primary" type="button" disabled>年間収支(明細)</button>
								<input type="hidden" th:field="*{targetYear}" />
								<input type="hidden" th:field="*{returnYearMonth}" />
							</form>
						</div>
					
						<!-- 表示対象の年切り替えボタンエリア -->
						<form name="AccountYearMeisaiBefore" class="d-flex" method="post" th:action="@{/myhacbook/accountinquiry/accountyear/meisaitargetcontrol/}">
							<p class="card-text"><button class="btn btn-outline-primary" name="targetBeforeBtn" type="submit">＜</button>&emsp;■ <span th:text="*{targetYear}"></span>年度 ■&emsp;<button class="btn btn-outline-primary" name="targetNextBtn" type="submit">＞</button></p>
							<input type="hidden" th:field="*{beforeYear}" />
							<input type="hidden" th:field="*{nextYear}" />
							<input type="hidden" th:field="*{returnYearMonth}" />
						</form>
					
						<!-- 収支(マージ)表示エリア -->
						<th:block th:if="${#lists.size(meisaiInquiryList)}>0">
						<table class="table table-sm table-borderless">
							<thead><tr class="table-secondary">
								<th scope="col">年月</th>
								<th scope="col">事業経費</th>
								<th scope="col">固定(非課税)</th>
								<th scope="col">固定(課税)</th>
								<th scope="col">衣類住居設備</th>
								<th scope="col">飲食日用品</th>
								<th scope="col">趣味娯楽</th>
								<th scope="col">支出B合計</th>
								<th scope="col">支出合計</th>
								<th scope="col">収支</th>
							</tr></thead>
							<tbody>
								<th:block th:each="item, itemStat : ${meisaiInquiryList}">
								<th:block th:if="${itemStat.odd}"><tr></th:block>
								<th:block th:if="${itemStat.even}"><tr class="table-warning"></th:block>
									<td><span th:text="${item.month}"></span>月</td>
									<td th:text="${item.jigyouKeihiKingaku}">事業経費</td>
									<td th:text="${item.koteiHikazeiKingaku}">固定(非課税)</td>
									<td th:text="${item.koteiKazeiKingaku}">固定(課税)</td>
									<td th:text="${item.iruiJyuukyoSetubiKingaku}">衣類住居設備</td>
									<td th:text="${item.insyokuNitiyouhinKingaku}">飲食日用品</td>
									<td th:text="${item.syumiGotakuKingaku}">趣味娯楽</td>
									<td th:text="${item.sisyutuKingakuB}">支出B</td>
									<td th:text="${item.sisyutuKingaku}">支出</td>
									<td th:text="${item.syuusiKingaku}">収支</td>
								</tr>
								</th:block>
								<tr class="table-success">
									<td>合計</td>
									<td th:text="${jigyouKeihiKingakuGoukei}">事業経費合計</td>
									<td th:text="${koteiHikazeiKingakuGoukei}">固定(非課税)合計</td>
									<td th:text="${koteiKazeiKingakuGoukei}">固定(課税)合計</td>
									<td th:text="${iruiJyuukyoSetubiKingakuGoukei}">衣類住居設備合計</td>
									<td th:text="${insyokuNitiyouhinKingakuGoukei}">飲食日用品合計</td>
									<td th:text="${syumiGotakuKingakuGoukei}">趣味娯楽合計</td>
									<td th:text="${sisyutuKingakuBGoukei}">支出B合計</td>
									<td th:text="${sisyutuKingakuGoukei}">支出合計</td>
									<td th:text="${syuusiKingakuGoukei}">収支合計</td>
								</tr>
							</tbody>
						</table>
						</th:block>
					</div>
					
					<!-- 支払い確認タブエリア -->
					<div class="tab-pane fade" id="nav-siharai" role="tabpanel" aria-labelledby="nav-siharai-tab">
						<p class="px-3">これは、<strong>支払い確認</strong>に関連付けられたコンテンツのプレースホルダーコンテンツ。[このタブは常に表示されない]</p>
					</div>
					
				</div>
			</div>
			<div class="card-body">
				<button class="btn btn-outline-primary" id="shopping-add-btn" type="button">買い物登録</button>
				<button class="btn btn-outline-primary" id="account-year-detai-btn" type="button">詳細表示</button>
				<button class="btn btn-outline-primary" type="button">更新</button>
				<form  name="ShoppinAdd" class="d-flex" method="post" th:action="@{/myhacbook/accountregist/shopping/}">
					<input type="hidden" th:field="*{targetYearMonth}" />
				</form>
				<form name="AccountYearDetail" class="d-flex" method="post" th:action="@{/myhacbook/accountinquiry/accountdetail/year/}">
					<input type="hidden" th:field="*{targetYear}" />
				</form>
				<form name="accountupdate" class="d-flex" method="post" th:action="@{/myhacbook/account/accountupdate/}">
					<input type="hidden" th:field="*{targetYearMonth}" />
				</form>
			</div>
		</div>
	</div>
	
	<!--/* フッター共通jsのインクルード) */-->
	<div id="footer" th:insert="~{layout/myhacbookfooter::footer}">フッター</div>
	<!--/* 家計簿参照で使用するJavaScript */-->
	<script type="text/javascript" th:src="@{/js/AccountCommonScript.js}"></script>
	
</body>
</html>