<!DOCTYPE html>
<html lang="ja" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
		rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
		crossorigin="anonymous">
<link th:href="@{/css/MyHouseholdAccountBookCommon.css}" rel="stylesheet" type="text/css">
<title>各月の収支</title>
</head>
<body>
	<!--/* ヘッダー */-->
	<div id="header" th:insert="~{layout/myhacbookheader::header}">ヘッダー</div>

	<!--/* ボディ部 */-->
	<div class="col">
		<div class="card" th:object="${targetYearMonthInfo}">
			<div class="card-body">
				<h5 class="card-title">マイ家計簿(各月の収支)</h5>
				<th:block th:each="message : ${messages}">
					<code><span th:text="${message}">何かのメッセージがある場合はここに表示</span></code></br>
				</th:block>
			</div>
			<div class="card-body">
				<nav>
					<div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
						<button class="nav-link active" id="nav-kakutuki-syuusi-tab" data-bs-toggle="tab" data-bs-target="#nav-kakutuki-syuusi" type="button" role="tab" aria-controls="nav-kakutuki-syuusi" aria-selected="true" disabled>各月の収支</button>
					<form class="d-flex" method="post" th:action="@{/myhacbook/accountinquiry/accountyear/mage/}">
						<button class="nav-link" type="submit">年間収支</button>
						<input type="hidden" th:field="*{targetYear}" />
						<input type="hidden" th:field="*{returnYearMonth}" />
					</form>
					<form class="d-flex" method="post" th:action="@{/myhacbook/accountinquiry/paymentconfirmation/}">
						<button class="nav-link" type="submit">支払い確認</button>
						<input type="hidden" th:field="*{targetYearMonth}" />
					</form>
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<!-- 各月収支タブエリア -->
					<div class="tab-pane fade show active" id="nav-kakutuki-syuusi" role="tabpanel" aria-labelledby="nav-kakutuki-syuusi-tab">
						<!-- 表示対象の月切り替えボタンエリア -->
						<form id="ChangeAccountMonth" class="d-flex" method="post" th:action="@{/myhacbook/accountinquiry/accountmonth/targetcontrol/}">
							<p class="card-text"><button class="btn btn-outline-primary" name="targetBeforeBtn" type="submit">＜</button>&emsp;■ <span th:text="*{viewYear}"></span>年<span th:text="*{viewMonth}"></span>月度 ■&emsp;<button class="btn btn-outline-primary" name="targetNextBtn" type="submit">＞</button></p>
							<input type="hidden" th:field="*{beforeYearMonth}" />
							<input type="hidden" th:field="*{nextYearMonth}" />
							<!--/* 画面表示の段階で指定した年月の収支情報があるので、returnYearMonthの値にtargetYearMonthの値を設定する */-->
							<input type="hidden" name="returnYearMonth" th:value="*{targetYearMonth}" />
						</form>
						
						<!-- 収支表示 -->
						<div class="card">
							
							<!-- 月毎収支まとめ表示エリア -->
							<div class="card-body">
								<table class="table table-sm table-bordered">
									<tbody>
										<tr class="table-info">
											<td class="w15">収入額：</td>
											<td class="w10" align="right" th:text="${syuunyuuKingaku}">収入額</td>
											<td>&emsp;</td>
										</tr>
										<tr>
											<td class="w15">支出予定額：</td>
											<td class="w10" align="right" th:text="${sisyutuYoteiKingaku}">支出予定額</td>
											<td>&emsp;</td>
										</tr>
										<tr>
											<td class="w15">支出額：</td>
											<td class="w10" align="right" th:text="${sisyutuKingaku}">支出額</td>
											<td>&emsp;</td>
										</tr>
										<tr class="table-info">
											<td class="w15">収支：</td>
											<td class="w10" align="right" th:text="${syuusiKingaku}">収支</td>
											<td>&emsp;</td>
										</tr>
									</tbody>
								</table>
							</div>
							
							<!-- 月毎支出表示(レベル2項目)表示エリア -->
							<div class="card-body">
								<th:block th:if="${#lists.size(expenditureItemList)}>0">
								<table class="table table-sm table-borderless">
									<thead class="border border-dark"><tr class="table-secondary"><th scope="col" class="w20">支出項目</th><th scope="col" class="w20">&emsp;</th><th scope="col" class="w10">支払い年月日</th><th scope="col">&emsp;</th></tr></thead>
									<tbody>
										<th:block th:each="item : ${expenditureItemList}">
											<tr class="table-success border border-success" th:if="${item.sisyutuItemLevel == 1}">
												<td class="w20">■<span th:text="${item.sisyutuItemName}"></span>：</td>
												<td class="w20" th:if="${#strings.isEmpty(item.percentage)}"><span th:text="${item.sisyutuKingaku}"></span></td>
												<td class="w20" th:if="!${#strings.isEmpty(item.percentage)}"><span th:text="${item.sisyutuKingaku}"></span>&emsp;<code>(<span th:text="${item.sisyutuKingakuBC}"></span>：<span th:text="${item.percentage}"></span>%)</code></td>
												<td class="w10" th:text="${item.siharaiDate}">支払日</td>
												<td th:if="${#strings.isEmpty(item.percentage)}">&emsp;</td>
												<td th:if="!${#strings.isEmpty(item.percentage)}">
													<th:block th:if="!${#strings.isEmpty(item.percentageB)}">
														<code>B:<span th:text="${item.sisyutuKingakuB}"></span>(<span th:text="${item.percentageB}"></span>%)</code>
													</th:block>
													<th:block th:if="!${#strings.isEmpty(item.percentageC)}">
														<code>C:<span th:text="${item.sisyutuKingakuC}"></span>(<span th:text="${item.percentageC}"></span>%)</code>
													</th:block>
												</td>
											</tr>
											<tr th:if="${item.sisyutuItemLevel == 2}">
												<td class="w20">&emsp;<span th:text="${item.sisyutuItemName}"></span>：</td>
												<td class="w20" th:if="${#strings.isEmpty(item.percentage)}"><span th:text="${item.sisyutuKingaku}"></span></td>
												<td class="w20" th:if="!${#strings.isEmpty(item.percentage)}"><span th:text="${item.sisyutuKingaku}"></span>&emsp;<code>(<span th:text="${item.sisyutuKingakuBC}"></span>：<span th:text="${item.percentage}"></span>%)</code></td>
												<td class="w10" th:text="${item.siharaiDate}">支払日</td>
												<td th:if="${#strings.isEmpty(item.percentage)}">&emsp;</td>
												<td th:if="!${#strings.isEmpty(item.percentage)}">
													<th:block th:if="!${#strings.isEmpty(item.percentageB)}">
														<code>B:<span th:text="${item.sisyutuKingakuB}"></span>(<span th:text="${item.percentageB}"></span>%)</code>
													</th:block>
													<th:block th:if="!${#strings.isEmpty(item.percentageC)}">
														<code>C:<span th:text="${item.sisyutuKingakuC}"></span>(<span th:text="${item.percentageC}"></span>%)</code>
													</th:block>	
												</td>
											</tr>
											<tr th:if="${item.sisyutuItemLevel == 3}">
												<td class="w20">&emsp;&emsp;・<span th:text="${item.sisyutuItemName}"></span>：</td>
												<td class="w20" th:if="${#strings.isEmpty(item.percentage)}">&emsp;<span th:text="${item.sisyutuKingaku}"></span></td>
												<td class="w20" th:if="!${#strings.isEmpty(item.percentage)}">&emsp;<span th:text="${item.sisyutuKingaku}"></span>&emsp;<code>(<span th:text="${item.sisyutuKingakuBC}"></span>：<span th:text="${item.percentage}"></span>%)</code></td>
												<td class="w10" th:text="${item.siharaiDate}">支払日</td>
												<td th:if="${#strings.isEmpty(item.percentage)}">&emsp;</td>
												<td th:if="!${#strings.isEmpty(item.percentage)}">
													<th:block th:if="!${#strings.isEmpty(item.percentageB)}">
														<code>B:<span th:text="${item.sisyutuKingakuB}"></span>(<span th:text="${item.percentageB}"></span>%)</code>
													</th:block>
													<th:block th:if="!${#strings.isEmpty(item.percentageC)}">
														<code>C:<span th:text="${item.sisyutuKingakuC}"></span>(<span th:text="${item.percentageC}"></span>%)</code>
													</th:block>
												</td>
											</tr>
										</th:block>
									</tbody>
								</table>
								</th:block>
							</div>
						</div>
					</div>
					
					<!-- 年間収支タブエリア -->
					<div class="tab-pane fade" id="nav-nenkan-syuusi" role="tabpanel" aria-labelledby="nav--nenkan-syuusi-tab">
						<p class="px-3">これは、<strong>年間収支</strong>に関連付けられたコンテンツのプレースホルダーコンテンツ。[このタブは常に表示されない]</p>
					</div>
					<!-- 支払い確認タブエリア -->
					<div class="tab-pane fade" id="nav-siharai" role="tabpanel" aria-labelledby="nav-siharai-tab">
						<p class="px-3">これは、<strong>支払い確認</strong>に関連付けられたコンテンツのプレースホルダーコンテンツ。[このタブは常に表示されない]</p>
					</div>
					
				</div>
			</div>
			<div class="card-body">
				<form id="DispatchAction" class="d-flex" method="post" th:action="@{/myhacbook/accountinquiry/accountmonth/dispatchaction/}">
					<button class="btn btn-outline-primary" name="shoppinAdd" type="submit">買い物登録</button>
					<button class="btn btn-outline-primary" name="accountMonthUpdate" type="submit">収支更新</button>
					<input type="hidden" th:field="*{targetYearMonth}" />
				</form>
				
			</div>
		</div>
	</div>
	
	<!--/* フッター共通jsのインクルード) */-->
	<div id="footer" th:insert="~{layout/myhacbookfooter::footer}">フッター</div>
	
</body>
</html>