<!DOCTYPE html>
<html lang="ja" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
		rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
		crossorigin="anonymous">
<title>マイ家計簿参照・更新</title>
</head>
<body>
	<!--/* ヘッダー */-->
	<div id="header" th:insert="~{layout/myhacbookheader::header}">ヘッダー</div>

	<!--/* ボディ部 */-->
	<div class="col">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">マイ家計簿(各月の収支)</h5>
				<th:block th:each="message : ${messages}">
					<code><span th:text="${message}">何かのメッセージがある場合はここに表示</span></code></br>
				</th:block>
			</div>
			<div class="card-body">
				<nav>
					<div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
						<button class="nav-link active" id="nav-kakutuki-syuusi-tab" data-bs-toggle="tab" data-bs-target="#nav-kakutuki-syuusi" type="button" role="tab" aria-controls="nav-kakutuki-syuusi" aria-selected="true" disabled>各月の収支</button>
					<form class="d-flex" method="post" th:action="@{/myhacbook/accountinquiry/accountyear/mage/}">
						<button class="nav-link" type="submit">年間収支</button>
						<input type="hidden" name="targetYear" th:value="${targetYear}" />
					</form>
					<form class="d-flex" method="post" th:action="@{/myhacbook/accountinquiry/paymentconfirmation/}">
						<button class="nav-link" type="submit">支払い確認</button>
						<input type="hidden" name="targetYearMonth" th:value="${targetYearMonth}" />
					</form>
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<!-- 各月収支タブエリア -->
					<div class="tab-pane fade show active" id="nav-kakutuki-syuusi" role="tabpanel" aria-labelledby="nav-kakutuki-syuusi-tab">
						<!-- 表示対象の月切り替えボタンエリア -->
						<p class="card-text"><button class="btn btn-outline-primary" id="account-month-before-btn" type="button">＜</button>&emsp;■ <span th:text="${viewYear}"></span>年<span th:text="${viewMonth}"></span>月度 ■&emsp;<button class="btn btn-outline-primary" id="account-month-next-btn" type="button">＞</button></p>
						<form name="AccountMonthBefore" class="d-flex" method="post" th:action="@{/myhacbook/accountinquiry/accountmonth/}">
							<input type="hidden" name="targetYearMonth" th:value="${beforeYearMonth}" />
						</form>
						<form name="AccountMonthNext" class="d-flex" method="post" th:action="@{/myhacbook/accountinquiry/accountmonth/}">
							<input type="hidden" name="targetYearMonth" th:value="${nextYearMonth}" />
						</form>
						<!-- 収支表示 -->
						<div class="card">
							<!-- 月毎収支まとめ表示エリア -->
							<div class="card-body">
								<ul class="list-group">
									<li class="list-group-item list-group-item-info">収入額：<span th:text="${syuunyuuKingaku}"></span>円</li>
									<li class="list-group-item">支出予定額：<span th:text="${sisyutuYoteiKingaku}"></span>円</li>
									<li class="list-group-item">支出額：<span th:text="${sisyutuKingaku}"></span>円</li>
									<li class="list-group-item list-group-item-info">収支：<span th:text="${syuusiKingaku}"></span>円</li>
								</ul>
							</div>
							<!-- 月毎支出表示(レベル2項目)表示エリア -->
							<div class="card-body">
								<th:block th:if="${#lists.size(expenditureItemList)}>0">
								<table class="table table-sm table-borderless">
									<thead class="border border-dark"><tr class="table-secondary"><th scope="col">支出項目</th><th scope="col">支払い年月日</th></tr></thead>
									<tbody>
										<th:block th:each="item : ${expenditureItemList}">
											<tr class="table-success border border-success" th:if="${item.sisyutuItemLevel == 1}">
												<td th:if="${#strings.isEmpty(item.percentage)}">■<span th:text="${item.sisyutuItemName}"></span>：<span th:text="${item.sisyutuKingaku}"></span>円</td>
												<td th:if="!${#strings.isEmpty(item.percentage)}">■<span th:text="${item.sisyutuItemName}"></span>：<span th:text="${item.sisyutuKingaku}"></span>円&emsp;<code>(B:<span th:text="${item.sisyutuKingakuB}"></span>円 <span th:text="${item.percentage}"></span>%)</code></td>
												<td th:if="${item.closingFlg}"><span th:text="${item.siharaiDate}"></span></td>
												<td th:if="!${item.closingFlg}"><code th:text="${item.siharaiDate}"></code></td>
											</tr>
											<tr th:if="${item.sisyutuItemLevel == 2}">
												<td th:if="${#strings.isEmpty(item.percentage)}">&emsp;・<span th:text="${item.sisyutuItemName}"></span>：<span th:text="${item.sisyutuKingaku}"></span>円</td>
												<td th:if="!${#strings.isEmpty(item.percentage)}">&emsp;・<span th:text="${item.sisyutuItemName}"></span>：<span th:text="${item.sisyutuKingaku}"></span>円&emsp;<code>(B:<span th:text="${item.sisyutuKingakuB}"></span>円 <span th:text="${item.percentage}"></span>%)</code></td>
												<td th:if="${item.closingFlg}"><span th:text="${item.siharaiDate}"></span></td>
												<td th:if="!${item.closingFlg}"><code th:text="${item.siharaiDate}"></code></td>
											</tr>
										</th:block>
									</tbody>
								</table>
								</th:block>
							</div>
						</div>
					</div>
					
					<!-- 年間収支タブエリア -->
					<div class="tab-pane fade" id="nav-nenkan-syuusi" role="tabpanel" aria-labelledby="nav--nenkan-syuusi-tab">
						<p class="px-3">これは、<strong>年間収支</strong>に関連付けられたコンテンツのプレースホルダーコンテンツ。[このタブは常に表示されない]</p>
					</div>
					<!-- 支払い確認タブエリア -->
					<div class="tab-pane fade" id="nav-siharai" role="tabpanel" aria-labelledby="nav-siharai-tab">
						<p class="px-3">これは、<strong>支払い確認</strong>に関連付けられたコンテンツのプレースホルダーコンテンツ。[このタブは常に表示されない]</p>
					</div>
					
				</div>
			</div>
			<div class="card-body">
				<button class="btn btn-outline-primary" id="shopping-add-btn" type="button">買い物登録</button>
				<button class="btn btn-outline-primary" id="account-month-detai-btn" type="button">詳細表示</button>
				<button class="btn btn-outline-primary" type="button">更新</button>
				<form name="ShoppinAdd" class="d-flex" method="post" th:action="@{/myhacbook/accountregist/shoppingregist/}">
					<input type="hidden" name="targetYearMonth" th:value="${targetYearMonth}" />
				</form>
				<form name="AccountMonthDetail" class="d-flex" method="post" th:action="@{/myhacbook/accountinquiry/accountdetail/month/}">
					<input type="hidden" name="targetYearMonth" th:value="${targetYearMonth}" />
				</form>
				<form name="accountupdate" class="d-flex" method="post" th:action="@{/myhacbook/account/accountupdate/}">
					<input type="hidden" name="targetYearMonth" th:value="${targetYearMonth}" />
				</form>
			</div>
		</div>
	</div>
	
	<!--/* フッター共通jsのインクルード) */-->
	<div id="footer" th:insert="~{layout/myhacbookfooter::footer}">フッター</div>
	
	<!--/* 家計簿共通JavaScript */-->
	<script type="text/javascript" src="/js/AccountCommonScript.js"></script>
	
</body>
</html>