<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
		rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
		crossorigin="anonymous">
<title>マイ家計簿トップメニュー</title>
</head>
<body>
	<!--/* ヘッダー */-->
	<div id="header" th:insert="~{layout/myhacbookheader::header}">ヘッダー</div>
	
	<!--/* ボディ部 */-->
	<h2>テストユーザさん家計簿メニュー</h2>
	<div class="mb-3">
		<label for="text1" class="form-label">家計簿参照</label>
		<label for="text1" class="form-label">家計簿登録</label>
		<label for="text1" class="form-label"><a th:href="@{/sample1/}">家計簿登録</a><br>
		</label>
	</div>
	
	<!--/* フッター共通jsのインクルード) */-->
	<div id="footer" th:insert="~{layout/myhacbookfooter::footer}">フッター</div>
</body>
</html>